

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editor</title>
</head>
<body style="background-color: dodgerblue;">
    <h1>Editar tipo de planta</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Guardar</button>
    </form>    
</body>
</html>