{% extends 'base.html' %}

{% load static %}

{% block title %}Planty© derechos reservados.{% endblock title %}

{% block content %} 
    <h2>Planty ©</h2>
    {% if user.is_authenticated %}
    {% if user.is_superuser %}

        <img src="{% static 'images/img/logo2.png' %}" alt="home">
        <p>Como administrador ud tiene acceso a todos los registros del sistema. Bienvenido.</p>
        <p>Estimado/a: {{user.username}}</p>
        <p>Cuenta E-mail: {{user.email}}</p>
        <br><br>
        <a href="{% url 'logout' %}">Salir</a>
    {% else %}
    <p>Bienvenido a nuestra tienda de plantas planty</p>
    <p>Su nombre de usuario es : {{user.username}}</p>
    <p>E-mail: {{user.email}}</p>
    <br><br>
    <a href="{% url 'logout' %}">Salir</a>
  
    {% endif %}
    {% endif %}

    {% if not user.is_authenticated %}        

        <a href="{% url 'login' %}">Iniciar sesion</a>
    {% endif %}

    
{% endblock content %}
