<!-- base.html -->
{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        {% block css %} {% endblock css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
    {% block navbar %}
    <!-- Cabezera -->
    <nav id="navbar" style="background-color: black;">
        
        <div id="nav" style="float:left ;">
            <ul>            
                <li class="nav-item"><a href="{% url 'home' %}">inicio</a></li>
                <li class="nav-item"><a href="{% url 'listar_tipos' %}">Listar Tipos de plantas</a></li>
                <li class="nav-item"><a href="#">quiénes somos</a></li>
                <li class="nav-item"><a href="#">contáctanos</a></li>

                {% if not user.is_authenticated %}        
                <li class="nav-item"><a href="{% url 'registrar' %}">registrarse</a></li>
                <li class="nav-item"><a href="{% url 'login' %}">iniciar sesión</a></li>
                {% endif %}
            </nav>
                {% if user.is_authenticated %}
                <li class="nav-item" style="float: right;">
                    <span class="ml-md-5" style="color: blue; ">
                        <strong>Usuario: {{ user.get_username }}</strong></span>

                    <a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% endif %}                
            </ul>
        </div>                                 
   
    {% endblock %}
        {% block content %} {% endblock content %}

        {% block javascript %} {% endblock javascript %}
    </body>
